### byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class


### c extensions ###
*.so


### distribution / packaging ###
dist
sdist
wheels
*.egg-info
*.egg
MANIFEST


### environments ###
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


### mypy ###
.mypy_cache/
.dmypy.json
dmypy.json


### file storing pypi-token for current project ###
pypi-token.pypi

### ruff ###
.ruff_cache/


### workspace settings ###
.idea
.vscode


### example yaml file ###
example.yml
